.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 5%
    right: 10%
  &-2
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 50%
    right: 70%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 20%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important  

.banner-principal__info
  @media screen and ( max-width: $bp-max-md )
    background-image: url("../assets/curso/portada/fondo-banner-principal1.png")
    background-size: cover

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: $color-sistema-texto

.banner-interno__titulo__icono i
  color: $color-primario

figcaption
  font-weight: normal

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.png") !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #F8A230
.slyder-a__bullets__item
  background-color: #F9F2C5
  margin: 0 5px
.slyder-a__bullets__item--active
  background-color: #F8A230

.tabs-c__header
  margin-bottom: 0px
.tabs-c__content-item
  background-color: #F8F7F1

.tarjeta.tarjeta--azul1
  background-color: #CED9C1
.tarjeta.tarjeta--azul1.acordion__activo
  background-color: #F8F0BC
.acordion__accion__btn--a
  background-color: #F8A230

.tarjeta-audio.color-acento-contenido
  background-color: #FDFBEF
  border-color: #6A8051
.tarjeta-audio.color-acento-contenido .tarjeta-audio__texto
  color: $color-sistema-texto
.audio.color-acento-contenido .audio__btn, .tarjeta-audio.color-acento-contenido .audio__btn, .tarjeta-dialogo.color-acento-contenido .audio__btn
  background-color: #6A8051

.bg
  &-c1
    background-color: #F1EFE3
  &-c2
    background-color: #EFDB59
  &-c3
    background-color: #CED9C1
  &-c4
    background-image: url(../assets/curso/tema1/img2.svg)
    background-repeat: repeat-x
    background-position: center
    @media screen and ( max-width: $bp-max-lg )
      background-repeat: repeat
  &-c5
    background-image: url(../assets/curso/tema1/img2.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c6
    background-color: #6A8051
    height: 80px
  &-c7
    background-color: #E6ECE0
    height: 200px
    @media screen and ( max-width: $bp-min-xxl )
      height: 250px
    @media screen and ( max-width: $bp-min-xl )
      height: 320px
    @media screen and ( max-width: $bp-min-lg )
      height: 200px
    @media screen and ( max-width: $bp-min-md )
      height: 100%
  &-c8
    background-color: #F8F0BC
  &-c9
    background-color: #FBF0EF
  &-c10
    background-image: url(../assets/curso/tema1/img18.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c11
    background-color: #F1EFE3
    border-radius: 15px
  &-c12
    background-color: #E6ECE0
  &-c13
    background-color: #F8F0BC
    border-radius: 15px
    height: 100%
  &-c14
    background-image: url(../assets/curso/tema1/img22.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c15
    background-color: #E6ECE0
    border-top-left-radius: 15px
    border-bottom-left-radius: 15px
    @media screen and ( max-width: $bp-max-lg )
      border-top-right-radius: 15px
      border-bottom-left-radius: 0px
  &-c16
    background-color: #F8E1DF
    border-top-right-radius: 15px
    border-bottom-right-radius: 15px
    @media screen and ( max-width: $bp-max-lg )
      border-top-right-radius: 0px
      border-bottom-left-radius: 15px
  &-c17
    background-image: url(../assets/curso/tema1/img24.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c18
    background-color: #FCF8DE
  &-c19
    background-color: #F8E1DF
    border-radius: 15px
  &-c20
    background-image: url(../assets/curso/tema1/img27.png)
    background-repeat: no-repeat
    background-size: contain
    background-position: bottom
    margin-inline: -3.2rem !important
  &-c21
    background-color: #EEB4AF
    border-top-left-radius: 15px
    border-top-right-radius: 15px
  &-c22
    background-color: #84A065
    border-top-left-radius: 15px
    border-top-right-radius: 15px
  &-c23
    background-color: #FBF0EF
    border-top-left-radius: 15px
    border-top-right-radius: 15px
  &-c24
    background-color: #E6ECE0
    border-top-left-radius: 15px
    border-top-right-radius: 15px
  &-c25
    background-image: url(../assets/curso/tema2/img2.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c26
    background-color: #FFFFFF
    shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius: 15px
  &-c27
    background-color: #FCF7D5
  &-c28
    background-image: url(../assets/curso/tema2/img5.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c29
    background-color: #F8E1DF
    border-radius: 15px
    transition: all 0.3s ease-in-out
    height: 100%
    .bg-c30
      background-color: #EEB4AF
  &-c29:hover
    background-color: #F8F0BC
    .bg-c30
      background-color: #EFDB59
  &-c31
    background-color: #E6ECE0
    border-radius: 15px
  &-c32
    background-image: url(../assets/curso/tema4/img3.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c33
    background-color: #4F603D
    border-radius: 15px
  &-c34
    background-color: #F8E1DF
  &-c35
    background-image: url(../assets/curso/tema6/img3.png)
    background-repeat: no-repeat
    background-size: cover
    margin-inline: -3.2rem !important
  &-c36
    background-color: #F6F6F6
  &-c37
    background-image: url(../assets/curso/tema6/img4.png)
    background-repeat: no-repeat
    background-size: contain
    margin-inline: -3.2rem !important

.txt
  &-c1
    text-align: left !important